{
    "env": {
        "es2021": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "standard"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "unused-imports",
        "@typescript-eslint"
    ],
    "rules": {
		"unused-imports/no-unused-imports": "error",
		"no-unused-vars": "warn",
        "no-useless-escape": "off"
    }
}
