name: Lint

on: [pull_request]

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set npm token
        run: npm config set //npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN }}

      - name: Set npm registry
        run: npm config set registry https://npm.pkg.github.com/kashin-dev

      - name: Install Node.js dependencies
        run: npm install

      - name: Run linters
        uses: wearerequired/lint-action@v1
        with:
          auto_fix: true
          eslint: true
          eslint_extensions: js,ts